* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}